<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">net.sourceforge.jtds.jdbc.Driver</property>
        <property name="hibernate.connection.password">S4geo</property>
        <property name="hibernate.connection.url">jdbc:jtds:sqlserver://192.168.4.115;instance=sql2012;DatabaseName=bauru_digital</property>
        <property name="hibernate.connection.username">sa</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>
        <property name="hibernate.show_sql" >true</property>
		<mapping class="br.org.funcate.baurudigital.server.user.User"/>
		<mapping class="br.org.funcate.baurudigital.server.address.Address"/>
		<mapping class="br.org.funcate.baurudigital.server.form.Form"/>
		<mapping class="br.org.funcate.baurudigital.server.photo.Photo"/>
		<mapping class="br.org.funcate.baurudigital.server.task.Task"/>
		<mapping class="br.org.funcate.baurudigital.server.user.User"/>

    </session-factory>
</hibernate-configuration>
